@media only screen and (max-width: 600px) {
    body{
        display: none;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scrollbar-width: none; 
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    display: block;
    color: black;
}
.same{
    max-width: 60vw;
    margin: 30px auto;
    h1{
        margin: 5px;
    }
}
nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 2;
}
nav p{
    font-size: 1.1rem;
    font-weight: bolder;
}
nav button{
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
}
nav button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.One{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/Hero-bg.png),linear-gradient(rgba(33, 33, 33, 0.434), rgba(0, 0, 0, 0.082));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}
.One main{
    text-align: center;
}
.One main h1{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.One main p{
    width: 400px;
    margin: 20px auto;
}
.One main a{
    background-color: black;
    color: white;
    padding: 10px 25px;
    width: 200px;
    margin: 10px auto;
    border-radius: 5px;
}
.One main a:hover{
    background-color: rgb(20, 16, 82);
}
.Two{
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
}
.Two{
    main{
        margin: 0 auto;
        max-width: 1000px;
        background-color: rgb(239, 237, 248);
        >div{
            padding: 30px 20px;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            div{
                text-align: left;
                p{
                    margin: 10px 0px;
                }
                a{
                    padding: 10px 20px;
                    width: 150px;
                    text-align: center;
                    border: 1px solid black;
                }
                a:hover{
                    background-color: black;
                    color: white;
                    transition: 0.5s;
                }
            }
            div:nth-child(1){
                 max-width: 40%;
            }
        }
        >div:nth-child(2){
           flex-direction: row-reverse;
        }
        >div:hover img{
            scale: 1.15;
            transition: 1s;
        }
    }
}
.Three{
    text-align: center;
    div:nth-child(2){
       margin: 20px auto;
       width: 60vw;
       height: 60vh;
       iframe{
        width: 100%;
        height: 100%;
       }
    }
}
.Four{
    margin-top: 50px;
    text-align: center;
    width: 100vw;
    main{
        margin: 30px auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 85vw;
        >div{
            width: 330px;
            margin: 10px;
            padding: 40px 20px;
            text-align: left;
            border-radius: 10px;
            h2{
                margin: 10px 0px;
            }
            a{
                margin-top: 10px;
                text-decoration: underline;
                font-weight: bold;
            }
        }
        >div:nth-child(1){
            background-color: rgb(245, 227, 227);
        }
        >div:nth-child(2){
            background-color: rgb(229, 236, 248);
        }
        >div:nth-child(3){
            background-color: rgb(241, 239, 222);
        }
        >div:hover img{
            scale: 1.13;
            transition: 1s;
        }
    }
}
.Five{
    width: 100vw;
    text-align: center;
    main{
        margin: 10px auto;
        width: 75%;
        .box{
            text-align: left;
            width: 100%;
            display: flex;
            margin-top: 20px;
            padding: 40px;
            border: 0.5px solid rgb(172, 171, 171);
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            >div:nth-child(1){
                width: 100px;
                margin-right: 30px;
                img{
                    width: 100%;
                }
            }
            >div:nth-child(2){
                p{
                    margin: 10px 0px;
                }
                a{
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }
        .box:hover{
            background-color: rgb(225, 235, 245);
            transition: 0.3s;
        }
    }
}
.Six{
    margin-top: 40px;
    text-align: center;
    main{
        margin: 0 auto;
        color: white;
        padding: 40px;
        width: 80vw;
        background-image: url(assets/handshake.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        p{
            margin: 15px 0px;
            color: rgba(240, 245, 248, 0.74);
        }
        div{
            input{
                border: none;
                padding: 13px;
                border-radius: 5px;
                width: 40vw;
                outline: none;
            }
            input::placeholder{
                font-size: 0.8rem;
            }
            button{
                background-color: white;
                border: none;
                padding: 13px 15px;
                border-radius: 5px;
                font-weight: bold;
            }
        }
    }
}
footer{
    margin-top: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: whitesmoke;
    div{
       a{
        margin-right: 5px;
        display: block;
        border-radius: 50%;
        padding: 14px;
        width: 40px;
       }
       a:nth-child(1){
        color: white;
        background-color: blue;
       }
       a:nth-child(3){
        color: white;
        background-color: black;
       }
       a:nth-child(2){
        color: white;
        background-color: rgb(22, 135, 180);
       }
       a:hover{
         background-color: black;
       }
    }
}